<div class='container px-5 px-sm-0'>
  <h4 class="font-weight-normal mt-3">検索ページ</h4>

  <div class="popular-heading common-heading">キーワード検索</div>
        <%= render 'user/searches/search_form' %>

 
  <div class="popular-heading common-heading ">エリアで絞る</div>
  <div class="row">
          <%= render 'user/areas/search_form' %>
  </div>

  <div class="popular-heading common-heading mt-3">タグで絞る</div>
  <div class="row">
          <%= render 'user/genres/search_form', genre: @genre, post: @posts %>
  </div>


      <%= render 'user/users/index', posts: @posts %>
</div>