<table class='table'>
       <thead class="table table-light">
        <tr>
          <th>コメントした人</th>
          <th>投稿ID</th>
          <th>コメント内容</th>
          <th>コメント時間</th>
          <th>公開状況</th>
        </tr>
       </thead>
         <tbody>
              <% reviews.each do |review| %>
                <tr>
                  <td><%= link_to(review.user.user_name, admin_user_path(review.user.id)) %></td>
                  <td><%= link_to(review.post_id, admin_post_path(review.post.id)) %></td>
                  <td><%= review.comment %></td>
                  <td><%= review.post.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
              <% end %>
          </tbody>
</table>

