<div class='container px-5 px-sm-0'>
  <!--<div class='row'>-->
    <!--<div class='col-md-8'>-->
      <h2>マイページ</h2>
      <% if @user == current_user %>
      <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-sm btn-success" %></p>
      <% end %>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">あなたの投稿</h2>
      <p><%= link_to "新規投稿する",  new_post_path, class: "btn btn-sm btn-success" %></p>
         <%= render 'index', posts: @posts %>
    <!--</div>-->
  <!--</div>-->
</div>