<div class="haikei">
  <div class="container h-100">
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">
      <h1>Playground</h1>
      <p>遊び場迷子のパパ・ママに向けた、子どもたちの遊び場レビューサイト</p>

      <br>
      <div class = "top_btn">
        <%= link_to "はじめる！", about_path, class: "btn btn--orange btn--cubic btn--shadow" %></div>

      <p><div class = "top_btn"><%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, class: "btn btn-light btn-sm", method: :post %></div>

    </div>

  </div>

</div>