<div class="haikei">
  <div class="container h-100">
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">
      <h1>Playground</h1>
      <p>遊び場迷子のパパ・ママに向けた、子どもたちの遊び場レビューサイト</p>
      <div>子育てを始めてから、いざ外出しようと思った時に、子どもの遊び場選びで困るパパやママたちは少なくありません。<br>
      どんな遊びができるのか、どんな人が集まっているのか、自分たちのニーズに合った設備はあるのか、家からどのくらいかかるのか<br>
      調べたい情報はたくさんあるけど、お出かけの準備をしながら全部調べるのは大変です。<br>
      子育てに奮闘するパパやママが、お互いの情報を共有しあうことで、子どもと遊べる新しい遊び場を発見し、<br>
      育児を楽しく感じるチャンスが増えたらいいなと思い、このテーマを選びました。
      </div>
      <br>
      <div><%= link_to 'はじめる', about_path, class: "btn btn-success" %></div>
    </div>
    
  </div>

</div>