<table class='table'>
  <tr><%= image_tag user.get_profile_image(100, 100) %></tr>
  <tr>
	  <th>full name</th>
	  <th><%= user.full_name %></th>
  </tr>
  <tr>
	  <th>user name</th>
	  <th><%= user.user_name %></th>
  </tr>
</table>