<footer class="fixed-bottom">
  <div class="container-fluid">
    <div class='row'>
    	<div class='mx-auto'>
        <div class="text-center py-2">
        <small>© All rights reserved by Infratop.Inc.</small>
        </div>
      </div>
    </div>
  </div>
</footer>